* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5f5f5;
}

button {
    background-color: #7697a0;
    color: #f5f5f5;
    border-radius: 6px;
    transition-duration: .4s;
    padding: 5px 15px;
}

button:hover {
    background-color: #7697a0ba;
    
}

.outlet {
    background-color: rgba(248, 202, 134, 0.271);
}