@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Questrial&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Questrial', sans-serif;
    background-color: #C2C8C5;
    font-size: 16px;
    color: #ffffff;
}

button {
    background-color: #7697a0;
    color: #f5f5f5;
    border-radius: 6px;
    transition-duration: .4s;
    padding: 5px 15px;
}

button:hover {
    background-color: #7697a0ba;

}

.outlet {
    background-color: #C2C8C5;
    padding: 1rem;
}