.comment-card {
    color: black;
    background-color: rgb(229, 229, 229);
    margin: 15px;
    padding: 10px;
}

.comment-card h6 {
    color: black
}

.comment-list-main {
    margin: 0px auto;
}

.comment {
    display: flex;
    text-align: center;
}

.date {
    text-align: right;
}