.comment-card {
    color: black;
    background-color: rgb(229, 229, 229);
    margin: 15px;
    padding: 10px;
}

.comment-card h6 {
    color: black
}

.comment-list-main {
    margin: 0px auto;
}

.comment-header {
    display: flex;
    justify-content: space-between;
    height: 2rem;
    padding: 0.5rem;
    background-color: #7697A0;
}

.comment {
    display: flex;
    text-align: center;
}

.date {
    text-align: right;
}