/* Tricia CSS */

/* .goal-container {
    margin-top: 5em;
}

.goalItem {
    margin: 2em;
    padding: 10px 20px;
    color: #ffffff;
}


.list-group-item {
    font-family: "Questria", sans-serif;
    color: #ffffff;
    font-size: 18px;
    background: #94B0B7;
    width: 50rem;
    padding: 2em;
    border-radius: 15 px;
    border: none solid none;
}

a.goal-link {
    color: #ffffff;
    width: 50rem;
    border-style: none none solid;
    border-color: #ffffff;
}

a.goal-link:hover {
    color: #C2C8C5;
} */

/* Brad CSS */

.goalList {
    display: flex;
    flex-direction: column;
    background: #4A707A;
    justify-content: center;
    text-align: center;
    padding: 2em 4rem;
    border-radius: 10px;
    width: 900px;
}



.goalItem {
    margin: 15px auto;
    width: 80%;
    color: black;
}

.category {
    text-align: left;
}

.incomplete {
    background-color: rgb(238, 238, 238) !important;
}

.complete {
    background-image: linear-gradient(45deg, rgb(83, 254, 80), rgb(193, 250, 193),rgb(83, 254, 80)) !important;
}

@media screen and (max-width: 940px){
    .goalList{
        width: 800px;
    }
}


@media screen and (max-width: 825px){
    .goalList{
        width: 700px;
    }
}

@media screen and (max-width: 750px){
    .goalList{
        width: 500px;
    }
    .goalItem{
        width: 100%;
    }
}