.goal-container {
    background: #4A707A;
    text-align: center;
    width: 60%;
    margin: 3em 5em 5em 5em;
    padding: 2em;
    border-radius: 0px;
}

.button-container {
    display: flex;
    justify-content: space-between;
}

/* Stupid Buttons aren't moving closer together >:( */
/* The Buttons are now evenly spaced out in their box so :) 
    Also its a bootstrap thing that they literally dont move so be
    >:( @ bootstrap :) */

.goal-detail-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.back-button {
    position: fixed;
    left: 20px;
}

.progress-bar {
    background-color: #99c2ce;
}

.rainbow {
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-image: linear-gradient(to right, #00ff00, #00ee00, #00dd00, #00ff00, #00ff00, #0088ff, #0055ff, #0022ff, #5500ff, #aa00ff);
}

@media screen and (max-width: 830px) {}