.homediv {
    text-align: center;
}

.carousel-text {
    opacity: 0.8;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    text-shadow: 2px 2px 2px #000000;
}

.quote {
    font-size: 20px;
    font-weight: bold;
    color: #4A707A;
}

.leftimg {
    display: flex;
    justify-content: center;
    height: 100%;
    min-width: 330px;
    max-width: 350px;
    max-height: 550px;
}

.rightimg {
    height: 100%;
    width: 100%;
    min-width: 330px;
    max-width: 400px;
}

.homerows {
    padding-top: 40px;
    padding-bottom: 40px
}

.rowodd {
    background-color: #7697A0;
}

.inspo {
    text-align: center;
    padding-bottom: 20px;
}

.carousel {
    width:100%;
}

.why {
    color: #4A707A;
}

@media screen and (max-width: 767.2px){
    .rightimg{
        display: none;
    }
    .leftimg{
        display: none;
    }
}





