.homediv {
    text-align: center;
}

.leftimg {
    display: flex;
    justify-content: center;
    height: 100%;
    min-width: 330px;
    max-width: 350px;
    max-height: 550px;
}

.rightimg {
    height: 100%;
    width: 100%;
    min-width: 330px;
    max-width: 400px;
}

.homerows {
    padding-top: 40px;
    padding-bottom: 40px
}

.rowodd {
    background-color: #7697A0;
}

.inspo {
    text-align: center;
    padding-bottom: 20px;
}

.carousel {
    width:100%;
}

@media screen and (max-width: 767.2px){
    .rightimg{
        display: none;
    }
    .leftimg{
        display: none;
    }
}





