.nav-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 25px 5px 15px;
    background-color: #93b7ff;
}

.nav-links {
    width: 60%;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}

a:link {
    text-decoration: none;
    color: black;
    padding-right: 10px;
}

a:visited {
    color: black;
}

a:hover {
    text-decoration: underline;
}

.outlet {
    padding: 1rem;
}