.nav-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 25px 5px 15px;
    background-color: #7697A0;
}

.nav-links {
    width: 100%;
    display: flex;
    justify-content: right;
    font-weight: bold;
}

a:link {
    text-decoration: none;
    color: black;
    /* padding-right: 10px; */
    margin-right: 30px;
}

a:visited {
    color: black;
}

a:hover {
    text-decoration: underline;
}

.logo{
    max-width: 80%;
    max-height: 150px;
}

