.nav-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 55px 5px 15px;
    background-color: #7697A0;
}

.nav-links {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-weight: bold;
}

a:link {
    text-decoration: none;
    color: black;
    margin-right: 20px;
}

a:visited {
    color: black;
}

a:hover {
    text-decoration: underline;
}

.logo{
    max-width: 80%;
    max-height: 150px;
}

#hamburger{
    margin: 0 40px, 0 0;
    line-height: 70px;
    display: none;
}

#toggle{
    display: none;
}

.menu p {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 0;
}


@media screen and (max-width: 950px){
    #hamburger{
        display: block;
        position: absolute;
        top: 0px;
        right: 30px;
        cursor: pointer;
        width: 26px;
        float: right;
        font-size: 45px;
    }
    .menu{
        text-align: center;
        width: 100%;
        display: none;
        clear: right;
    }
    .menu a {
        display: block;
        margin: 0;
    }
    #toggle:checked + .menu{
        display: block;
        transform: translateY(0);
    }
}