.nav-main {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding: 15px 25px 15px 15px;
    background-color: #7697A0;
}

.nav-links {
    display: flex;
    flex-direction: row;
    font-weight: bold;
}

.signIn-register {
    display: flex;
    width: max-content;
}

.about{
    margin-right: 50rem;
}

a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    text-decoration: underline;
}

.nav-dropdown:active {
    background-color: #7697A0;
}

.logo{
    max-width: 95%;
    max-height: 150px;
}

.search-bar{
    padding-right: 50px;
    padding-left: 10px;
}


 @media screen and (max-width: 1750px){
    .about{
        margin-right: 48rem;
    }
} 

@media screen and (max-width: 1700px){
    .about{
        margin-right: 45rem;
    }
} 

@media screen and (max-width: 1630px){
    .about{
        margin-right: 40rem;
    }
} 

@media screen and (max-width: 1530px){
    .about{
        margin-right: 35rem;
    }
} 

@media screen and (max-width: 1430px){
    .about{
        margin-right: 30rem;
    }
} 

@media screen and (max-width: 1330px){
    .about{
        margin-right: 25rem;
    }
} 

@media screen and (max-width: 1275px){
    .about{
        margin-right: 20rem;
    }
} 

@media screen and (max-width: 1195px){
    .about{
        margin-right: 15rem;
    }
} 

@media screen and (max-width: 1115px){
    .about{
        margin-right: 10rem;
    }
} 

@media screen and (max-width: 1050px){
    .about{
        margin-right: 8rem;
    }
    .nav-main{
        font-size: 14px;
    }
} 