@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Questrial&display=swap');

button,
input,
optgroup,
select,
textarea,
body {
  font-family: "Questria", sans-serif;
}

.profileCover-image {
  display: table-cell;
  width: 100%;
  margin: -150px -100px 0px 0px;
}

.card-img-overlay {
 pointer-events: none;
}

.profile-card {
  display: table-cell;
  background-color: #8d8d8db3;
  padding-bottom: 2rem;
}

.profile-title {
  font-size: 4rem;
  font-weight: 300;
  text-align: center;
  margin-top: 13rem;
  text-shadow: 2px 2px 2px #000000;
}

.avatar-container {
  height: 0;
}

.avatar-container .avatar {
  margin-top: -10rem;
  margin-left: 2rem;
  padding: 0;
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  border: 3px solid #ffffff;
  box-shadow: rgba(0, 0, 0, 0.443) 0 3px 5px 0px, rgba(0, 0, 0, .14) 0 6px 10px 0, rgba(0, 0, 0, .12) 0 1px 18px 0;
}

.first-last {
  padding: 20px 0 0 0;
  font-size: 3rem;
}

.profile-age {
  text-align: center;
  font-size: 1.5rem;
}

.profile-bio {
  text-align: center;
  font-size: 1rem;
}

.profile-followers {
padding: .5rem;
}

button.btn {
  align-items: center;
  background-color: #55818d;
  border-radius: 8px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, 0.443) 0 3px 5px 0px, rgba(0, 0, 0, .14) 0 6px 10px 0, rgba(0, 0, 0, .12) 0 1px 18px 0;
  color: #ffffff;
  display: inline-flex;
  font-family: "Questria";
  font-size: 18px;
  font-weight: 700;
  /* height: 48px; */
  letter-spacing: .25px;
  /* line-height: normal; */
  max-width: 100%;
  overflow: visible;
  padding: 2px 24px;
  margin: auto;
  display: block;
  text-align: center;
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1), opacity 15ms linear 30ms, transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
}

.btn:hover {
  background: #7697A0;
  color: #ffffff;
}

.btn:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
  background: #7697A0;
  color: #ffffff;
}

@media screen and (max-width: 1150px) {

  .profileCover-image {
    display: table-cell;
    width: 100%;
    margin: -50px -20px 0px 0px;
  }

  .profile-title {
    display: none;
  }

  .row .text-center .profile-followers {
    display: none;
  }
}

@media screen and (max-width: 730px) {

  .profileCover-image {
    display: table-cell;
    width: 100%;
    margin: -50px -20px 0px 0px;
  }

  .profile-title {
    display: none;
  }

  .avatar-container {
    height: 3rem;
  }
  
  .avatar-container .avatar {
    margin-top: -5rem;
    margin-left: 2rem;
    padding: 0;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    border: 3px solid #ffffff;
    box-shadow: rgba(0, 0, 0, 0.443) 0 3px 5px 0px, rgba(0, 0, 0, .14) 0 6px 10px 0, rgba(0, 0, 0, .12) 0 1px 18px 0;
  }
}


