@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Questrial&display=swap');

button,
input,
optgroup,
select,
textarea,
body {
  font-family: "Questrial", sans-serif;
}
.container-fluid {
  margin: 0;
  padding: 0;
  display: fluid;
  width: 100%;
  background-color: #7697A0;
}
.container-header {
  display:fluid;
  width: 100%;
}
.profile-row {
  display: flex;
  justify-content: space-between;
  margin: 5rem 0 0 0;
  align-items: center;
}
.profileCover-image {
  display: table-cell;
  max-width: 100%;
  margin: -150px -100px 0px 0px;
  padding: 0%;
}
.card-img-overlay {
  pointer-events: none;
}
.profile-title {
  font-size: 4rem;
  font-weight: 300;
  text-align: center;
  margin-top: 13rem;
  text-shadow: 2px 2px 2px #000000;
}
.avatar-container {
  height: 0;
}
.avatar-container .avatar {
  margin-top: -10rem;
  margin-left: 2rem;
  margin-bottom: 2em;
  padding: 0;
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  border: 3px solid #ffffff;
  box-shadow: rgba(0, 0, 0, 0.443) 0 3px 5px 0px, rgba(0, 0, 0, .14) 0 6px 10px 0, rgba(0, 0, 0, .12) 0 1px 18px 0;
}
.first-last {
  font-size: 3rem;
  margin-left: -3rem;
}
.profile-age {
  font-size: 1.25rem;
}
.profile-bio {
  font-size: 1rem;
}
.follow {
text-align: center;
}
.button-col {
  display: flex;
  align-items: center;
  padding: 7rem 0 0 0;
  margin: 0rem 0rem 3rem 5rem;
}
button.btn {
  background-color: #55818d;
  border-radius: 8px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, 0.443) 0 3px 5px 0px, rgba(0, 0, 0, .14) 0 6px 10px 0, rgba(0, 0, 0, .12) 0 1px 18px 0;
  color: #ffffff;
  font-family: "Questrial";
  font-size: 18px;
  font-weight: 700;
  letter-spacing: .25px;
  max-width: 100%;
  overflow: visible;
  padding: 2px 24px;
  text-align: center;
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1), opacity 15ms linear 30ms, transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
}
.btn:hover {
  background: #7697A0;
  color: #ffffff;
}
.btn:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
  background: #7697A0;
  color: #ffffff;
}

@media screen and (max-width: 1440px) {
  .profileCover-image {
    display: table-cell;
    width: 100%;
    margin: -50px -20px 0px 0px;
  }
  .profile-title {
    font-size: 3rem;
  }
}

@media screen and (max-width: 1150px) {
  .profileCover-image {
    display: table-cell;
    width: 100%;
    margin: -50px -20px 0px 0px;
  }
  .profile-title {
    display: none;
  }
  .first-last {
    font-size: 2.5rem;
    margin-left: -5rem;
  }
  .follow {
    display: none;
  }
  .button-col {
    display: flex;
    align-items: last baseline;
    padding-top: 7em;
    margin-left: 3;
    margin-bottom: 2em;
  }
}

@media screen and (max-width: 730px) {
  .profileCover-image {
    display: table-cell;
    width: 100%;
    margin: -50px -20px 0px 0px;
  }
  .profile-title {
    display: none;
  }
  .avatar-container {
    height: 3rem;
  }
  .avatar-container .avatar {
    margin-top: -5rem;
    margin-left: 2rem;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
  }
  div.profile-row.row {
    margin: 0;
  }
  .button-col {
    padding-top: 5em;
    margin-left: 1rem;
    margin-bottom: 2em;
  }
  .first-last {
    font-size: 2.5rem;
    margin-left: 0rem;
  }
}

@media screen and (max-width: 600px) {
  .profileCover-image {
    display: table-cell;
    width: 100%;
    margin: -75px 20px 0px 0px;
  }
  .profile-row {
    padding: 2rem 0 0 0;
  }
  .first-last {
    font-size: 1.5rem;
    margin-left: -1rem;
  }
  .button-col {
    display: flex;
    align-items: last baseline;
    padding-top: 1em;
    margin-left: 0;
    margin-bottom: 1em;
  }
  button.btn{
    font-size: 12px;
    padding: 2px 12px;
  }
  .edit-goal-buttons {
    margin-top: 0%;
  }
  
}

@media screen and (max-width: 415px) {
  .avatar-container .avatar {
    margin-top: -5rem;
    margin-left: 0rem;
    width: 7rem;
    height: 7rem;
  }
  .profile-row {
    padding: 0 0 0 0;
  }
}