.sign-in-body { 
    /* The image used */
   background-image: url(https://images.unsplash.com/photo-1504025468847-0e438279542c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1869&q=80); 
   background-size: cover;
   width: 100vw;
   height: 100vh;
 background-position: center;
 background-repeat: no-repeat;
}

.row {
    padding: 5%;
}

.text-center {
    color: white;
    align-items: center;
    justify-content: center;
}

.form-grouping {
    width: 100%;
    padding: 10px;
}

.form-control-sign-in {
    margin: 0;
    width: 100%;
}

.center .header {
    font-size: 28px;
    font-weight: bold;
    color: white;
    padding: 25px 0 30px 25px;
    background: #7697A0;
    text-align: center;
    margin-bottom: 20px;
}

.form-container-sign-in {
    max-width: 80%;
    margin: 0 auto;
    background-color: #C2C8C5;
}

.signIn-footer {
    color: #7697A0 !important;
    text-align: center;
    padding: 5%;
}

.welcome-container .container {
    margin: 200px;
    background-color: transparent;
    text-shadow: #7697A0;
}

.dropshadow {
    text-shadow: 2px 2px 2px #7697A0;
}

.sign-in-button:hover{
    background-color: #456b74 !important;
}

@media screen and (min-width: 260px) and (max-width: 1000px) {
    .welcome-container .container {
       display: none;
       visibility: hidden;
    }
}

