<<<<<<< Updated upstream
.sign-in-body {
    background-image: url(https://images.unsplash.com/photo-1504025468847-0e438279542c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1869&q=80);
    background-size: cover;
    width: 100%;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
}

.row {
    padding: 10%;
}
.text-center {
    color: white;
    align-items: center;
    justify-content: center;
}

.dropshadow {
    text-shadow: 2px 2px 2px #7697A0;
}

.form-grouping {
    width: 100%;
    padding: 20px;
    padding-top: 20px;
}

.form-control-sign-in {
    margin: 0;
    width: 100%;
}

.center .header {
    font-size: 28px;
    font-weight: bold;
    color: white;
    padding: 25px 0 30px 25px;
    background: #7697A0;
    text-align: center;

}

.form-container-sign-in {
    max-width: 80%;
    margin: 0 auto;
    background-color: #C2C8C5;
}

.welcome-container .container {
    margin: 200px;
    background-color: transparent;
    text-shadow: #7697A0;

}

.footer {
    padding: 25px;
    text-align: center;
    font-weight: bold;

}

=======
.sign-in-body { 
     /* The image used */
    background-image: url(https://images.unsplash.com/photo-1504025468847-0e438279542c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1869&q=80); 
    background-size: cover;
    width: 100vw;
    height: 100vh;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
>>>>>>> Stashed changes
