#root {
    overflow-x: hidden;
}

.sign-in {
    background-image: url('https://images.unsplash.com/photo-1504025468847-0e438279542c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1869&q=80');
    background-size: cover;
    height: calc(100vh - 84.96px)
}

.background {
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main-row {
    padding: 10%;
}

.form-sign-in {
    background-color: #C2C8C5;
    padding: 0 0 0 0 !important;
    border-radius: 0;
    padding: 0;
}

.form-grouping {
    width: 100%;
    padding: 10px;
}

.sign-in-button {
    margin-left: 40%;
}
.login-header .header {
    font-size: 28px;
    font-weight: bold;
    letter-spacing: 5px;
    color: white;
    padding: 25px 0 30px 25px;
    background: #7697A0;
    text-align: center;
    margin-bottom: 20px;
}

.signIn-footer {
    text-align: center;
    padding: 5%;
}

.footer {
    color: #939393 !important;
}

.welcome-logo {
    filter: drop-shadow(5px 5px 5px #7697A0);
    margin-left: 30%;
}

.welcome-message {
    margin-top: 10%;
    text-align: center;
    text-shadow: 2px 2px 2px #7697A0;
}

.sign-in-button:hover {
    background-color: #456b74 !important;
}

@media screen and (max-width: 1200px) {
    .sign-in-button {
        margin-left: 35%;
    }
}

@media screen and (max-width: 950px) {
    .form-grouping {
        padding: 6px;
    }
    .main-row {
        display: flex;
        flex-direction: column-reverse;
        padding: 5% 20% 0 20%;
    }
    .form-sign-in {
        margin-top: 10%;
    }
    .sign-in-button {
        margin-left: 35%;
    }
    .footer {
        font-size: 14px;
    }
    .welcome-message {
        margin-top: 10%;
    }
    
}

@media screen and (max-width: 800px) {
    .footer {
        font-size: 12px;
    }
}
