.registration-logo {
  margin: 80% 10% 10% 10%;
}

h1.text-create {
  color: #4A707A;
  font-size: 48px;
  text-align: center;
  margin-top: 0px;
}

div.register-photo .image-holder {
  display: table-cell;
  background: url(https://images.unsplash.com/photo-1504025468847-0e438279542c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1869&q=80);
  background-size: cover;
  background-position: center;
}

.form-container {
  width: 60%;
  margin: 5% 0 25% 25%;
}

.form-group {
  width: 90%;
  resize: vertical;
}

.register-form {
  display: table-cell;
  background-color: #ffffff;
  color: #505e6c;
  width: 50%;
}

.register-form .form-control {
  border: none;
  border-bottom: 1px solid #dfe7f1;
  border-radius: 0;
  box-shadow: none;
  outline: none;
  color: inherit;
  text-indent: 0px;
  padding: 10;
}

.register-photo .register-form .form-check {
  font-size: 15px;
}

.register-photo .register-form .already {
  display: block;
  text-align: center;
  font-size: 18px;
  color: #6f7a85;
  margin: 20px;
}

.form-check-label::hover {
  font-size: 15px;
}

.sign-up-checkbox {
  margin: 15px 15px;
}

.sign-up-button {
  margin-left: 6rem;
  ;
}

.sign-up-button:hover {
  background-color: #456b74 !important;
  color: #ffffff !important;
}

@media screen and (max-width: 1000px) {
  div.register-photo .image-holder {
    display: flex;
    justify-content: center;
  }

  .register-photo .register-form {
    display: flex;
    flex-direction: column;
    object-fit: contain;
  }

  .form-container {
    width: 60%;
    margin: 5% 25% 25% 25%;
  }

  .registration-logo {
    margin: 10% 10% 10% 10%;
    width: 15rem;
  }

  form.register-form {
    width: 100%;
  }

  .form-group {
    width: 100%;
    resize: vertical;
  }

  .sign-up-button {
    margin-left: 25%;
    width: 50%;
  }

  .register-photo .register-form .already {
    font-size: 15px;
    padding: 0;
  }
}
@media screen and (max-width: 720px) {
  .registration-logo {
    width: 60%;
    margin: 15% 15%  15%  15%;
  }
  h1.text-create {
    color: #4A707A;
    font-size: 250%;
    text-align: center;
    margin-top: 0px;
  }

  .form-container {
    width: 100%;
    margin: 5% 0 0% 0%;
  }
}